.weather-app{
    max-width: 600px;
    margin: 30px auto;
    padding:20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
}
h1{
    font-family: arial,sans-serif;
    clear: both;
    margin-left: 0;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}